body {
  font-family: 'Lato', sans-serif;
}

.container {
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "sidebar topbar topbar" 
  "sidebar chart chart" 
  "sidebar main main"
  "sidebar main main"
  "sidebar main main";
}

.nav-bar {
  background-color: #374050;
  color: #97A0B0;
  grid-area: sidebar;
  width: 200px;
}

.side-bar {
  background-color: #374050;
  color: #97A0B0;
  grid-area: sidebar;
  width: 200px;
}

.nav-bar-1 {
  border-top-color: black;
  border-top: solid;
  text-align: center;
}

.bowie-birthday {
  border-radius: 61px;
  height: 120px;
  margin-top: 16px;
  width: 120px;
}

.fas {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-bar-2 {
  border-top-color: black;
  border-top: solid;
}

.nav-bar-3 {
  border-top-color: black;
  border-top: solid;
}

.nav-bar-4 {
  border-top-color: black;
  border-top: solid;
}

.check-boxes {
  margin-left: 12px;
  margin-right: 9px;
}

.top-bar {
  grid-area: topbar;
}

.upper-top-bar {
  display: flex;
  justify-content: space-between;
}

.fa-bars {
  font-size: 20px;
  margin-right: 10px;
  padding-left: 20px;
}

.top-main-search {
  margin-top: 16px;
  padding-right: 348px;
}

.search-term {
  width: 234%;
}

.top-right-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px
}

.fa-user {
  font-size: 20px;
  margin-left: 10px;
}

.fa-calendar-alt {
  font-size: 20px;
  margin-left: 10px;
}

.fa-th {
  font-size: 20px;
  margin-left: 10px;
}

.middle-top-bar {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-bottom:-8px;
}

.location-info {
  display: flex;
}

.san-fran {
  margin-right: 10px;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 13px;
}

.openbutton {
  background-color: #ffffff;
  border-radius: 42px;
  border: 2px solid #8a7474;
  color: #000000;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  height: 13px;
  padding: 8px 25px;
}

.openbutton:hover {
  background-color:#476e9e;
}

.middle-bar-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 21px;

}

.round-buttons {
  border-radius: 30px;
  padding-top:6px;
}

.lower-top-bar {
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  margin-right: 64px;
}

.chart {
  background-color: #EDF2F6;
  display: flex;
  grid-area: chart;
}

.circles {
  display: flex;
  padding: 10px;
}

.circle-chart {
  width: 109%;
  height: 80%;
}

.cir-marg {
  margin-right: 16px;
}

.bar-graph {
  height: 84%;
  margin-left: 41px;
  width: 90%;
}

.main {
  background-color: #EDF2F6;
  grid-area: main;
  display: grid;
  grid-template-areas: 
  "resume links" 
  "resume links";
  grid-template-columns: 2.75fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.resume {
  background-color: #ffffff;
  grid-area: resume;
  margin-left: 30px;
  padding: 10px;
  width: 82%;
}

.hiring-pic {
  border-radius: 14px;
  height: auto;
  width: inherit;
}

.giuseppe {
  margin-right: 162px;
  margin-top: 8px;
}

td {
  width: 33%;
}

thead {
  background-color: #6E7E95;
  color: #ffffff;
}

td input {
  background-color: #7E8CA7;
  color: #ffffff;
}

.social-links {
  grid-area: links;
}

.facebook {
  background-color: #4B6FC3;
  color: #ffff;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  width: 91%;
}

.fa-facebook {
  font-size: 19px;
  margin-right: 44px;
  margin-top: 2px;
  padding-left: 9px;
}

.twitter {
  background-color: #02A8EF;
  color: #ffff;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  width: 91%;
}

.fa-twitter {
  font-size: 19px;
  margin-right: 44px;
  margin-top: 2px;
  padding-left: 9px;
}

.linked-in {
  background-color: #0782BD;
  color: #ffff;
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  margin-right: 12px;
  width: 91%;
}

.fa-linkedin {
  font-size: 19px;
  margin-right: 44px;
  margin-top: 2px;
  padding-left: 9px;
}

.job-links {
  border-bottom: 2px solid lightgray;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  margin-top: 1rem;
}

.linktothisjob {
  display: flex;
}

.fa-globe-americas {
  padding-top: 6px;
}

.link-paragraph {
  margin-top: -9px;
}

.use-button-widget {
  display: flex;
}

.fa-elementor {
  padding-top: 6px;
}

.upload-resumes {
  display: flex;
}

.fa-paper-plane {
  padding-top: 6px;
}

.social-input {
  display: flex;
  height: 46px;
  padding-bottom: 15px;
}

.copy {
  background-color: #49B7C1;
}

@media screen and (max-width: 870px) {

  .chart {
    display: block;
  }

  .main {
    display: block;
  }

}

@media screen and (max-width: 728px) {

  .upper-top-bar {
    display: block;
  }

  .top-right-icons {
    justify-content: center;
  }

  .middle-top-bar {
    display: block;
  }

  .middle-bar-2 {
    justify-content: center;
  }

  .top-main-search {
    padding-right: 0px;
  }

  .lower-top-bar {
    flex-direction: column;
    text-align: center;
  }

  h3 {
    font-size: 17px;
  }

}

@media screen and (max-width: 670px) {

  .nav-bar {
    display: none;
  }

}